@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow-y: none;
    box-sizing: border-box;
    
}

/* Nav Search Icon */
input{
    background: url(images/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}



/* Nav positioning */
header {
    position: relative;
}
.navbar{
    position: fixed;
    z-index: 99;
}
/* Rotating Circle */

.circle{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.text{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;
}

@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.text span{
    position: absolute;
    left: 50%;
    font-size: 1em;
    transform-origin: 0 100px;
}

